.body {
  background-color: #f6f5f7;
}


.auth-page-container {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to right, #007bff, #0056b3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  
}

h1 {
  font-weight: 500;
  margin: 0;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}


.container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}


.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;

  form {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px 50px 20px 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-y: auto;
  }

  input {
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    

    &[type="date"] {
        color: #757575;

        &:invalid {
            color: #757575;
        }
    }
  }
}


.mensagem-erro {
    color: #e74c3c;
    font-size: 13px;
    font-weight: bold;
    margin: 8px 0;
    padding: 0;
    text-align: center;
}
.mensagem-sucesso {
    color: #2ecc71;
    font-size: 13px;
    font-weight: bold;
    margin: 8px 0;
    padding: 0;
    text-align: center;
}



button {
  border-radius: 20px;
  border: 1px solid #007bff;
  background: #007bff;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;

  

  &:active {
    transform: scale(0.95);
  }

  &:focus {
    outline: none;
  }


  &.ghost {
    background: transparent;
    border-color: #fff;
  }
}


.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}


.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 10; 
}

.overlay {
  background: #031926;
  background: -webkit-linear-gradient(to right, #007bff, #0056b3);
  background: linear-gradient(to right, #007bff, #0056b3);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-panel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  height: 100%;
  width: 50%;
  text-align: center;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.overlay-left {
  transform: translateX(-20%);
}


.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}


.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 20; 
  animation: show 0.6s;
}


.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}


.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  
  50%, 100% {
    opacity: 1;
    z-index: 20;
  }
}