.calculadora-container {
  max-width: 400px;
  margin: 2rem auto;
  background: #fff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  text-align: center;

  h2 {
    color: #2d6cdf;
    margin-bottom: 1.5rem;
  }

  .form-group {
    text-align: left;
    margin-bottom: 1rem;

    label {
      font-weight: 600;
      margin-bottom: 0.3rem;
      display: block;
    }

    input {
      width: 100%;
      padding: 0.6rem;
      border-radius: 6px;
      border: 1px solid #ccc;
      font-size: 1rem;
    }
  }

  .btn-calcular {
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 6px;
    background: #3943B7;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background: #1f4fab;
    }
  }
}


.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #fff;
  padding: 1.5rem;
  border-radius: 12px;
  width: 90%;
  max-width: 380px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  position: relative;

  h3 {
    margin-top: 0;
    color: #2d6cdf;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 1.2rem;
    cursor: pointer;
  }

  h4 {
    margin-top: 1rem;
  }

  p {
    margin: 0.4rem 0;
  }
}
